SCM/SCM/Portal/Service References/UserPowerGenerationService/Generation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Generation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sus_dsc.sus.local/SCM_Service/Generation.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sus_dsc.sus.local/SCM_Service/Generation.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sus_dsc.sus.local/SCM_Service/Generation.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGeneration_GetGeneratedAndExpected_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGeneratedAndExpected" />
  </wsdl:message>
  <wsdl:message name="IGeneration_GetGeneratedAndExpected_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGeneratedAndExpectedResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneration_GetWeatherCityName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherCityName" />
  </wsdl:message>
  <wsdl:message name="IGeneration_GetWeatherCityName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherCityNameResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneration_GetGeneratedAndExpectedMob_InputMessage">
    <wsdl:part name="parameters" element="tns:GetGeneratedAndExpectedMob" />
  </wsdl:message>
  <wsdl:message name="IGeneration_GetGeneratedAndExpectedMob_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetGeneratedAndExpectedMobResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneration_GetWeatherCityNameMob_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherCityNameMob" />
  </wsdl:message>
  <wsdl:message name="IGeneration_GetWeatherCityNameMob_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherCityNameMobResponse" />
  </wsdl:message>
  <wsdl:portType name="IGeneration">
    <wsdl:operation name="GetGeneratedAndExpected">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneration/GetGeneratedAndExpected" message="tns:IGeneration_GetGeneratedAndExpected_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneration/GetGeneratedAndExpectedResponse" message="tns:IGeneration_GetGeneratedAndExpected_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeatherCityName">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneration/GetWeatherCityName" message="tns:IGeneration_GetWeatherCityName_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneration/GetWeatherCityNameResponse" message="tns:IGeneration_GetWeatherCityName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetGeneratedAndExpectedMob">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneration/GetGeneratedAndExpectedMob" message="tns:IGeneration_GetGeneratedAndExpectedMob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneration/GetGeneratedAndExpectedMobResponse" message="tns:IGeneration_GetGeneratedAndExpectedMob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeatherCityNameMob">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneration/GetWeatherCityNameMob" message="tns:IGeneration_GetWeatherCityNameMob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneration/GetWeatherCityNameMobResponse" message="tns:IGeneration_GetWeatherCityNameMob_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGeneration" type="tns:IGeneration">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetGeneratedAndExpected">
      <soap:operation soapAction="http://tempuri.org/IGeneration/GetGeneratedAndExpected" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeatherCityName">
      <soap:operation soapAction="http://tempuri.org/IGeneration/GetWeatherCityName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGeneratedAndExpectedMob">
      <soap:operation soapAction="http://tempuri.org/IGeneration/GetGeneratedAndExpectedMob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeatherCityNameMob">
      <soap:operation soapAction="http://tempuri.org/IGeneration/GetWeatherCityNameMob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Generation">
    <wsdl:port name="BasicHttpBinding_IGeneration" binding="tns:BasicHttpBinding_IGeneration">
      <soap:address location="http://sus_dsc.sus.local/SCM_Service/Generation.svc/SoapService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>