SCM/SCM/Admin/Service References/ServiceConnectmeReport/ConnectMe.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ConnectMe" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://64.58.161.201/adminservice6.0/ConnectMe.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://64.58.161.201/adminservice6.0/ConnectMe.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://64.58.161.201/adminservice6.0/ConnectMe.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IConnectMe_MobConnectMe_InputMessage">
    <wsdl:part name="parameters" element="tns:MobConnectMe" />
  </wsdl:message>
  <wsdl:message name="IConnectMe_MobConnectMe_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobConnectMeResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectMe_NetConnectMe_InputMessage">
    <wsdl:part name="parameters" element="tns:NetConnectMe" />
  </wsdl:message>
  <wsdl:message name="IConnectMe_NetConnectMe_OutputMessage">
    <wsdl:part name="parameters" element="tns:NetConnectMeResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectMe_MobAddUpdDelConnectMeTopic_InputMessage">
    <wsdl:part name="parameters" element="tns:MobAddUpdDelConnectMeTopic" />
  </wsdl:message>
  <wsdl:message name="IConnectMe_MobAddUpdDelConnectMeTopic_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobAddUpdDelConnectMeTopicResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectMe_NetAddUpdDelConnectMeTopic_InputMessage">
    <wsdl:part name="parameters" element="tns:NetAddUpdDelConnectMeTopic" />
  </wsdl:message>
  <wsdl:message name="IConnectMe_NetAddUpdDelConnectMeTopic_OutputMessage">
    <wsdl:part name="parameters" element="tns:NetAddUpdDelConnectMeTopicResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectMe_MobConnectMeTopic_InputMessage">
    <wsdl:part name="parameters" element="tns:MobConnectMeTopic" />
  </wsdl:message>
  <wsdl:message name="IConnectMe_MobConnectMeTopic_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobConnectMeTopicResponse" />
  </wsdl:message>
  <wsdl:message name="IConnectMe_NetConnectMeTopic_InputMessage">
    <wsdl:part name="parameters" element="tns:NetConnectMeTopic" />
  </wsdl:message>
  <wsdl:message name="IConnectMe_NetConnectMeTopic_OutputMessage">
    <wsdl:part name="parameters" element="tns:NetConnectMeTopicResponse" />
  </wsdl:message>
  <wsdl:portType name="IConnectMe">
    <wsdl:operation name="MobConnectMe">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectMe/MobConnectMe" message="tns:IConnectMe_MobConnectMe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectMe/MobConnectMeResponse" message="tns:IConnectMe_MobConnectMe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NetConnectMe">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectMe/NetConnectMe" message="tns:IConnectMe_NetConnectMe_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectMe/NetConnectMeResponse" message="tns:IConnectMe_NetConnectMe_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobAddUpdDelConnectMeTopic">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectMe/MobAddUpdDelConnectMeTopic" message="tns:IConnectMe_MobAddUpdDelConnectMeTopic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectMe/MobAddUpdDelConnectMeTopicResponse" message="tns:IConnectMe_MobAddUpdDelConnectMeTopic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NetAddUpdDelConnectMeTopic">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectMe/NetAddUpdDelConnectMeTopic" message="tns:IConnectMe_NetAddUpdDelConnectMeTopic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectMe/NetAddUpdDelConnectMeTopicResponse" message="tns:IConnectMe_NetAddUpdDelConnectMeTopic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobConnectMeTopic">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectMe/MobConnectMeTopic" message="tns:IConnectMe_MobConnectMeTopic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectMe/MobConnectMeTopicResponse" message="tns:IConnectMe_MobConnectMeTopic_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NetConnectMeTopic">
      <wsdl:input wsaw:Action="http://tempuri.org/IConnectMe/NetConnectMeTopic" message="tns:IConnectMe_NetConnectMeTopic_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IConnectMe/NetConnectMeTopicResponse" message="tns:IConnectMe_NetConnectMeTopic_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IConnectMe" type="tns:IConnectMe">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MobConnectMe">
      <soap:operation soapAction="http://tempuri.org/IConnectMe/MobConnectMe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NetConnectMe">
      <soap:operation soapAction="http://tempuri.org/IConnectMe/NetConnectMe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MobAddUpdDelConnectMeTopic">
      <soap:operation soapAction="http://tempuri.org/IConnectMe/MobAddUpdDelConnectMeTopic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NetAddUpdDelConnectMeTopic">
      <soap:operation soapAction="http://tempuri.org/IConnectMe/NetAddUpdDelConnectMeTopic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MobConnectMeTopic">
      <soap:operation soapAction="http://tempuri.org/IConnectMe/MobConnectMeTopic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NetConnectMeTopic">
      <soap:operation soapAction="http://tempuri.org/IConnectMe/NetConnectMeTopic" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ConnectMe">
    <wsdl:port name="BasicHttpBinding_IConnectMe" binding="tns:BasicHttpBinding_IConnectMe">
      <soap:address location="http://64.58.161.201/adminservice6.0/ConnectMe.svc/SoapService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>