SCM/SCM/Portal/Service References/UserCompareSpendingService/CompareSpending.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CompareSpending" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sus_dsc.sus.local/SCM_Service/CompareSpending.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sus_dsc.sus.local/SCM_Service/CompareSpending.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://sus_dsc.sus.local/SCM_Service/CompareSpending.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICompareSpending_GetCompareSpendingMob_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompareSpendingMob" />
  </wsdl:message>
  <wsdl:message name="ICompareSpending_GetCompareSpendingMob_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompareSpendingMobResponse" />
  </wsdl:message>
  <wsdl:message name="ICompareSpending_GetCompareSpendingPowerMob_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompareSpendingPowerMob" />
  </wsdl:message>
  <wsdl:message name="ICompareSpending_GetCompareSpendingPowerMob_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompareSpendingPowerMobResponse" />
  </wsdl:message>
  <wsdl:message name="ICompareSpending_GetCompareSpendingCo2GasMob_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompareSpendingCo2GasMob" />
  </wsdl:message>
  <wsdl:message name="ICompareSpending_GetCompareSpendingCo2GasMob_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompareSpendingCo2GasMobResponse" />
  </wsdl:message>
  <wsdl:message name="ICompareSpending_GetCompareSpendingWaterMob_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompareSpendingWaterMob" />
  </wsdl:message>
  <wsdl:message name="ICompareSpending_GetCompareSpendingWaterMob_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompareSpendingWaterMobResponse" />
  </wsdl:message>
  <wsdl:message name="ICompareSpending_GetCompareSpending_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompareSpending" />
  </wsdl:message>
  <wsdl:message name="ICompareSpending_GetCompareSpending_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompareSpendingResponse" />
  </wsdl:message>
  <wsdl:message name="ICompareSpending_GetLastOneYear_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLastOneYear" />
  </wsdl:message>
  <wsdl:message name="ICompareSpending_GetLastOneYear_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLastOneYearResponse" />
  </wsdl:message>
  <wsdl:message name="ICompareSpending_GetCompareSpendingPower_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompareSpendingPower" />
  </wsdl:message>
  <wsdl:message name="ICompareSpending_GetCompareSpendingPower_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompareSpendingPowerResponse" />
  </wsdl:message>
  <wsdl:message name="ICompareSpending_GetCompareSpendingCo2Gas_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompareSpendingCo2Gas" />
  </wsdl:message>
  <wsdl:message name="ICompareSpending_GetCompareSpendingCo2Gas_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompareSpendingCo2GasResponse" />
  </wsdl:message>
  <wsdl:message name="ICompareSpending_GetCompareSpendingWater_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCompareSpendingWater" />
  </wsdl:message>
  <wsdl:message name="ICompareSpending_GetCompareSpendingWater_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCompareSpendingWaterResponse" />
  </wsdl:message>
  <wsdl:portType name="ICompareSpending">
    <wsdl:operation name="GetCompareSpendingMob">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompareSpending/GetCompareSpendingMob" message="tns:ICompareSpending_GetCompareSpendingMob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompareSpending/GetCompareSpendingMobResponse" message="tns:ICompareSpending_GetCompareSpendingMob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompareSpendingPowerMob">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompareSpending/GetCompareSpendingPowerMob" message="tns:ICompareSpending_GetCompareSpendingPowerMob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompareSpending/GetCompareSpendingPowerMobResponse" message="tns:ICompareSpending_GetCompareSpendingPowerMob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompareSpendingCo2GasMob">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompareSpending/GetCompareSpendingCo2GasMob" message="tns:ICompareSpending_GetCompareSpendingCo2GasMob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompareSpending/GetCompareSpendingCo2GasMobResponse" message="tns:ICompareSpending_GetCompareSpendingCo2GasMob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompareSpendingWaterMob">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompareSpending/GetCompareSpendingWaterMob" message="tns:ICompareSpending_GetCompareSpendingWaterMob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompareSpending/GetCompareSpendingWaterMobResponse" message="tns:ICompareSpending_GetCompareSpendingWaterMob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompareSpending">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompareSpending/GetCompareSpending" message="tns:ICompareSpending_GetCompareSpending_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompareSpending/GetCompareSpendingResponse" message="tns:ICompareSpending_GetCompareSpending_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLastOneYear">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompareSpending/GetLastOneYear" message="tns:ICompareSpending_GetLastOneYear_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompareSpending/GetLastOneYearResponse" message="tns:ICompareSpending_GetLastOneYear_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompareSpendingPower">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompareSpending/GetCompareSpendingPower" message="tns:ICompareSpending_GetCompareSpendingPower_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompareSpending/GetCompareSpendingPowerResponse" message="tns:ICompareSpending_GetCompareSpendingPower_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompareSpendingCo2Gas">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompareSpending/GetCompareSpendingCo2Gas" message="tns:ICompareSpending_GetCompareSpendingCo2Gas_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompareSpending/GetCompareSpendingCo2GasResponse" message="tns:ICompareSpending_GetCompareSpendingCo2Gas_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCompareSpendingWater">
      <wsdl:input wsaw:Action="http://tempuri.org/ICompareSpending/GetCompareSpendingWater" message="tns:ICompareSpending_GetCompareSpendingWater_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICompareSpending/GetCompareSpendingWaterResponse" message="tns:ICompareSpending_GetCompareSpendingWater_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICompareSpending" type="tns:ICompareSpending">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetCompareSpendingMob">
      <soap:operation soapAction="http://tempuri.org/ICompareSpending/GetCompareSpendingMob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompareSpendingPowerMob">
      <soap:operation soapAction="http://tempuri.org/ICompareSpending/GetCompareSpendingPowerMob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompareSpendingCo2GasMob">
      <soap:operation soapAction="http://tempuri.org/ICompareSpending/GetCompareSpendingCo2GasMob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompareSpendingWaterMob">
      <soap:operation soapAction="http://tempuri.org/ICompareSpending/GetCompareSpendingWaterMob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompareSpending">
      <soap:operation soapAction="http://tempuri.org/ICompareSpending/GetCompareSpending" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetLastOneYear">
      <soap:operation soapAction="http://tempuri.org/ICompareSpending/GetLastOneYear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompareSpendingPower">
      <soap:operation soapAction="http://tempuri.org/ICompareSpending/GetCompareSpendingPower" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompareSpendingCo2Gas">
      <soap:operation soapAction="http://tempuri.org/ICompareSpending/GetCompareSpendingCo2Gas" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCompareSpendingWater">
      <soap:operation soapAction="http://tempuri.org/ICompareSpending/GetCompareSpendingWater" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CompareSpending">
    <wsdl:port name="BasicHttpBinding_ICompareSpending" binding="tns:BasicHttpBinding_ICompareSpending">
      <soap:address location="http://sus_dsc.sus.local/SCM_Service/CompareSpending.svc/SoapService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>