SCM/SCM/Admin/Service References/ServiceElectricVehicle/ElectricVehicle.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ElectricVehicle" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://64.58.161.201/adminservice6.0/ElectricVehicle.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://64.58.161.201/adminservice6.0/ElectricVehicle.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://64.58.161.201/adminservice6.0/ElectricVehicle.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IElectricVehicle_MobElectricVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:MobElectricVehicle" />
  </wsdl:message>
  <wsdl:message name="IElectricVehicle_MobElectricVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobElectricVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IElectricVehicle_NetElectricVehicle_InputMessage">
    <wsdl:part name="parameters" element="tns:NetElectricVehicle" />
  </wsdl:message>
  <wsdl:message name="IElectricVehicle_NetElectricVehicle_OutputMessage">
    <wsdl:part name="parameters" element="tns:NetElectricVehicleResponse" />
  </wsdl:message>
  <wsdl:message name="IElectricVehicle_MobEVReport_InputMessage">
    <wsdl:part name="parameters" element="tns:MobEVReport" />
  </wsdl:message>
  <wsdl:message name="IElectricVehicle_MobEVReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobEVReportResponse" />
  </wsdl:message>
  <wsdl:message name="IElectricVehicle_NetEVReport_InputMessage">
    <wsdl:part name="parameters" element="tns:NetEVReport" />
  </wsdl:message>
  <wsdl:message name="IElectricVehicle_NetEVReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:NetEVReportResponse" />
  </wsdl:message>
  <wsdl:portType name="IElectricVehicle">
    <wsdl:operation name="MobElectricVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IElectricVehicle/MobElectricVehicle" message="tns:IElectricVehicle_MobElectricVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IElectricVehicle/MobElectricVehicleResponse" message="tns:IElectricVehicle_MobElectricVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NetElectricVehicle">
      <wsdl:input wsaw:Action="http://tempuri.org/IElectricVehicle/NetElectricVehicle" message="tns:IElectricVehicle_NetElectricVehicle_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IElectricVehicle/NetElectricVehicleResponse" message="tns:IElectricVehicle_NetElectricVehicle_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobEVReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IElectricVehicle/MobEVReport" message="tns:IElectricVehicle_MobEVReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IElectricVehicle/MobEVReportResponse" message="tns:IElectricVehicle_MobEVReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NetEVReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IElectricVehicle/NetEVReport" message="tns:IElectricVehicle_NetEVReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IElectricVehicle/NetEVReportResponse" message="tns:IElectricVehicle_NetEVReport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IElectricVehicle" type="tns:IElectricVehicle">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MobElectricVehicle">
      <soap:operation soapAction="http://tempuri.org/IElectricVehicle/MobElectricVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NetElectricVehicle">
      <soap:operation soapAction="http://tempuri.org/IElectricVehicle/NetElectricVehicle" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MobEVReport">
      <soap:operation soapAction="http://tempuri.org/IElectricVehicle/MobEVReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NetEVReport">
      <soap:operation soapAction="http://tempuri.org/IElectricVehicle/NetEVReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ElectricVehicle">
    <wsdl:port name="BasicHttpBinding_IElectricVehicle" binding="tns:BasicHttpBinding_IElectricVehicle">
      <soap:address location="http://64.58.161.201/adminservice6.0/ElectricVehicle.svc/SoapService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>