SCM/SCM/Admin/Service References/ServiceOutageReport/Outage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Outage" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://64.58.161.201/adminservice6.0/Outage.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://64.58.161.201/adminservice6.0/Outage.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://64.58.161.201/adminservice6.0/Outage.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IOutage_MobOutageReport_InputMessage">
    <wsdl:part name="parameters" element="tns:MobOutageReport" />
  </wsdl:message>
  <wsdl:message name="IOutage_MobOutageReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobOutageReportResponse" />
  </wsdl:message>
  <wsdl:message name="IOutage_NetOutageReport_InputMessage">
    <wsdl:part name="parameters" element="tns:NetOutageReport" />
  </wsdl:message>
  <wsdl:message name="IOutage_NetOutageReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:NetOutageReportResponse" />
  </wsdl:message>
  <wsdl:message name="IOutage_MobOutageReportNew_InputMessage">
    <wsdl:part name="parameters" element="tns:MobOutageReportNew" />
  </wsdl:message>
  <wsdl:message name="IOutage_MobOutageReportNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobOutageReportNewResponse" />
  </wsdl:message>
  <wsdl:message name="IOutage_NetOutageReportNew_InputMessage">
    <wsdl:part name="parameters" element="tns:NetOutageReportNew" />
  </wsdl:message>
  <wsdl:message name="IOutage_NetOutageReportNew_OutputMessage">
    <wsdl:part name="parameters" element="tns:NetOutageReportNewResponse" />
  </wsdl:message>
  <wsdl:portType name="IOutage">
    <wsdl:operation name="MobOutageReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutage/MobOutageReport" message="tns:IOutage_MobOutageReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutage/MobOutageReportResponse" message="tns:IOutage_MobOutageReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NetOutageReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutage/NetOutageReport" message="tns:IOutage_NetOutageReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutage/NetOutageReportResponse" message="tns:IOutage_NetOutageReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MobOutageReportNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutage/MobOutageReportNew" message="tns:IOutage_MobOutageReportNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutage/MobOutageReportNewResponse" message="tns:IOutage_MobOutageReportNew_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NetOutageReportNew">
      <wsdl:input wsaw:Action="http://tempuri.org/IOutage/NetOutageReportNew" message="tns:IOutage_NetOutageReportNew_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IOutage/NetOutageReportNewResponse" message="tns:IOutage_NetOutageReportNew_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IOutage" type="tns:IOutage">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MobOutageReport">
      <soap:operation soapAction="http://tempuri.org/IOutage/MobOutageReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NetOutageReport">
      <soap:operation soapAction="http://tempuri.org/IOutage/NetOutageReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MobOutageReportNew">
      <soap:operation soapAction="http://tempuri.org/IOutage/MobOutageReportNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NetOutageReportNew">
      <soap:operation soapAction="http://tempuri.org/IOutage/NetOutageReportNew" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Outage">
    <wsdl:port name="BasicHttpBinding_IOutage" binding="tns:BasicHttpBinding_IOutage">
      <soap:address location="http://64.58.161.201/adminservice6.0/Outage.svc/SoapService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>