SCM/SCM/Portal/Service References/UserBehaviourService/UserBehaviour.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserBehaviour" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://sus_dsc.sus.local/SCM_Service/UserBehaviour.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://sus_dsc.sus.local/SCM_Service/UserBehaviour.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUserBehaviour_SetUserBehaviourMob_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserBehaviourMob" />
  </wsdl:message>
  <wsdl:message name="IUserBehaviour_SetUserBehaviourMob_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserBehaviourMobResponse" />
  </wsdl:message>
  <wsdl:message name="IUserBehaviour_SetUserBehaviour_InputMessage">
    <wsdl:part name="parameters" element="tns:SetUserBehaviour" />
  </wsdl:message>
  <wsdl:message name="IUserBehaviour_SetUserBehaviour_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetUserBehaviourResponse" />
  </wsdl:message>
  <wsdl:portType name="IUserBehaviour">
    <wsdl:operation name="SetUserBehaviourMob">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserBehaviour/SetUserBehaviourMob" message="tns:IUserBehaviour_SetUserBehaviourMob_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserBehaviour/SetUserBehaviourMobResponse" message="tns:IUserBehaviour_SetUserBehaviourMob_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetUserBehaviour">
      <wsdl:input wsaw:Action="http://tempuri.org/IUserBehaviour/SetUserBehaviour" message="tns:IUserBehaviour_SetUserBehaviour_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUserBehaviour/SetUserBehaviourResponse" message="tns:IUserBehaviour_SetUserBehaviour_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUserBehaviour" type="tns:IUserBehaviour">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SetUserBehaviourMob">
      <soap:operation soapAction="http://tempuri.org/IUserBehaviour/SetUserBehaviourMob" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUserBehaviour">
      <soap:operation soapAction="http://tempuri.org/IUserBehaviour/SetUserBehaviour" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserBehaviour">
    <wsdl:port name="BasicHttpBinding_IUserBehaviour" binding="tns:BasicHttpBinding_IUserBehaviour">
      <soap:address location="http://sus_dsc.sus.local/SCM_Service/UserBehaviour.svc/SoapService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>