SCM/SCM/Admin/Service References/ServiceGenerationReport/Generation.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Generation" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://64.58.161.201/adminservice6.0/Generation.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://64.58.161.201/adminservice6.0/Generation.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://64.58.161.201/adminservice6.0/Generation.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IGeneration_MobGenerationReport_InputMessage">
    <wsdl:part name="parameters" element="tns:MobGenerationReport" />
  </wsdl:message>
  <wsdl:message name="IGeneration_MobGenerationReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:MobGenerationReportResponse" />
  </wsdl:message>
  <wsdl:message name="IGeneration_NetGenerationReport_InputMessage">
    <wsdl:part name="parameters" element="tns:NetGenerationReport" />
  </wsdl:message>
  <wsdl:message name="IGeneration_NetGenerationReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:NetGenerationReportResponse" />
  </wsdl:message>
  <wsdl:portType name="IGeneration">
    <wsdl:operation name="MobGenerationReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneration/MobGenerationReport" message="tns:IGeneration_MobGenerationReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneration/MobGenerationReportResponse" message="tns:IGeneration_MobGenerationReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="NetGenerationReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IGeneration/NetGenerationReport" message="tns:IGeneration_NetGenerationReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IGeneration/NetGenerationReportResponse" message="tns:IGeneration_NetGenerationReport_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IGeneration" type="tns:IGeneration">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="MobGenerationReport">
      <soap:operation soapAction="http://tempuri.org/IGeneration/MobGenerationReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="NetGenerationReport">
      <soap:operation soapAction="http://tempuri.org/IGeneration/NetGenerationReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Generation">
    <wsdl:port name="BasicHttpBinding_IGeneration" binding="tns:BasicHttpBinding_IGeneration">
      <soap:address location="http://64.58.161.201/adminservice6.0/Generation.svc/SoapService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>